
body * {
    box-sizing: border-box;
}

body {
    font-family: 'Shadows Into Light', cursive;
}


body {
   box-sizing: border-box;
   border: solid 3px #CCC;
   width: 20vw;
   margin: 3vh; 
}


h2, p {
    margin: 6%; 
}

button {
    margin-left: 6%;
    margin-bottom: 6%;
}

img {
    width: 100%;
}
